<div id="header">
  <div class="header-top">
    <div class="sub-header-top">
      <div class="left-title">
        <h4>Website designed by Manh Cuong</h4>
      </div>
      <div class="list-header">
        <ul>
          <li><a href=""> Help & FAQs</a></li>
          <li><a href=""> My Account</a></li>
          <li><a href=""> EN</a></li>
          <li><a href=""> USD</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sub-nav" id="nav">
    <div class="nav">
      <div class="photo-logo">
        <a href="/"><img
            src="/img/logo.webp"
            style="cursor: pointer;"
            alt=""
          /></a>
      </div>
      <div class="list-menu">
        <ul>
          <li>
            <a href="/" id="home">
              Home
            </a>
          </li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/features">Features</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="list-icon" id="list-icon">
        <div class="icons search" id="iconSearch">
          <input type="text" id="input_search" placeholder="New Product..?" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="icons cart">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <div class="icons heart">
          <i class="fa-solid fa-heart"></i>
        </div>
        <a
          href="/admin"
          style="font-size: 16px; color: #000; text-decoration: none;"
        >Admin</a>
      </div>
    </div>
  </div>
</div>