<style>
  #main{ margin-top:75px; overflow: hidden; } .banner { background-image:
  url(../img/banner-for-about&contact.webp); background-repeat: no-repeat;
  background-size: cover; background-position:50% 50%; display: flex;
  align-items: center; justify-content: center; padding: 80px 10px; }
  .text-banner { width: 1200px; margin: 0 auto; text-align: center; }
  .text-banner h1 { color: #fff; font-size: 56px; text-shadow: 0px 8px 10px
  rgba(255, 255, 255, 0.685); } .news-main{ width: 1200px; margin: 0 auto;
  margin-top: 60px; display: grid; grid-template-columns: 3fr 1fr; column-gap:
  50px; } .content-about{ width: 100%; width: 1200px; margin:0 auto; margin-top:
  50px; } .content-0{ display: grid; grid-template-columns: 2fr 1fr; column-gap:
  50px; padding: 0px 0px 150px; } .text-content h3{ color: #333333; font-size:
  25px; padding: 0px 0px 16px; } .text-content p{ color:#888888 ; font-size:
  13px; padding: 0px 0px 26px; } .image-conten-about{ padding: 10px; margin-top:
  30px; } .border{ border: 2px solid #8888885b; height: 358px; width: 100%;
  position: relative; } .image-content img{ position: absolute; top: -20px;
  right: -20px; transition: .4s linear; } .content-1{ display: grid;
  grid-template-columns: 1fr 2fr; column-gap: 50px; } .content-1
  .image-conten-about img{ position: absolute; left: -20px; } .content-1
  .text-content{ padding: 7px 0px 0px 85px; } .admin{ display: flex; } .admin
  span{ padding: 1.2px; margin-right: 30px; background-color: #88888833; }
</style>

<div id="main">
  <div class="banner">
    <div class="text-banner">
      <h1>About</h1>
    </div>

  </div>
  <div class="content-about">
    <div class="content-0">
      <div class="text-content">
        <h3>Our Story</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
          consequat consequat enim, non auctor massa ultrices non. Morbi sed
          odio massa. Quisque at vehicula tellus, sed tincidunt augue. Orci
          varius natoque penatibus et magnis dis parturient montes, nascetur
          ridiculus mus. Maecenas varius egestas diam, eu sodales metus
          scelerisque congue. Pellentesque habitant morbi tristique senectus et
          netus et malesuada fames ac turpis egestas. Maecenas gravida justo eu
          arcu egestas convallis. Nullam eu erat bibendum, tempus ipsum eget,
          dictum enim. Donec non neque ut enim dapibus tincidunt vitae nec
          augue. Suspendisse potenti. Proin ut est diam. Donec condimentum
          euismod tortor, eget facilisis diam faucibus et. Morbi a tempor elit.</p>
        <p>Donec gravida lorem elit, quis condimentum ex semper sit amet. Fusce
          eget ligula magna. Aliquam aliquam imperdiet sodales. Ut fringilla
          turpis in vehicula vehicula. Pellentesque congue ac orci ut gravida.
          Aliquam erat volutpat. Donec iaculis lectus a arcu facilisis, eu
          sodales lectus sagittis. Etiam pellentesque, magna vel dictum rutrum,
          neque justo eleifend elit, vel tincidunt erat arcu ut sem. Sed rutrum,
          turpis ut commodo efficitur, quam velit convallis ipsum, et maximus
          enim ligula ac ligula.</p>
        <p>Any questions? Let us know in store at 8th floor, 379 Hudson St, New
          York, NY 10018 or call us on (+1) 96 716 6879</p>
      </div>

      <div class="image-conten-about">
        <div class="border">
          <div class="image-content">
            <img src="/img/content1-about.webp" width="100%" alt="" />
          </div>
        </div>

      </div>
    </div>

    <div class="content-1">
      <div class="image-conten-about">
        <div class="border">
          <div class="image-content">
            <img src="/img/content2-about.webp" width="100%" alt="" />
          </div>
        </div>

      </div>
      <div class="text-content">
        <h3>Our Mission</h3>
        <p>Mauris non lacinia magna. Sed nec lobortis dolor. Vestibulum rhoncus
          dignissim risus, sed consectetur erat. Pellentesque habitant morbi
          tristique senectus et netus et malesuada fames ac turpis egestas.
          Nullam maximus mauris sit amet odio convallis, in pharetra magna
          gravida. Praesent sed nunc fermentum mi molestie tempor. Morbi vitae
          viverra odio. Pellentesque ac velit egestas, luctus arcu non, laoreet
          mauris. Sed in ipsum tempor, consequat odio in, porttitor ante. Ut
          mauris ligula, volutpat in sodales in, porta non odio. Pellentesque
          tempor urna vitae mi vestibulum, nec venenatis nulla lobortis. Proin
          at gravida ante. Mauris auctor purus at lacus maximus euismod.
          Pellentesque vulputate massa ut nisl hendrerit, eget elementum libero
          iaculis.</p>
        <div class="admin">
          <span> </span>
          <div class="text-admin">
            <p>Creativity is just connecting things. When you ask creative
              people how they did something, they feel a little guilty because
              they didn't really do it, they just saw something. It seemed
              obvious to them after a while.</p>
            <p>- Bui Manh Cuong's.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>